@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-add_circle:before {
  content: "\e147";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-small-down:before {
  content: "\e903";
}
.icon-chevron-small-right:before {
  content: "\e904";
}
.icon-chevron-small-up:before {
  content: "\e905";
}
.icon-chevron-thin-left:before {
  content: "\e906";
}
.icon-chevron-thin-right:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}